* {
  box-sizing: content-box;
}
html {
	margin:0;
	} 
body {
	margin: 0;
	background: #000;
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 18px; 
	font-family: xos4 Terminus;
	color: #00FFFF;
}
img {
	border: 0;
}
ul {
	display: inline-table;
	margin: 0 auto;
}
li {
	list-style-type: none;
}
a {
	color: #00FFFF;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1 {
  font-family: "Open Sans";
}
header {
	margin-top: 200px;
	text-align: center;
}
.tablecontainer {
	padding-top: 20px;
	margin: auto;
	text-align: center;
	width: 90%;
	height: max-content;
}
.table {
	display: inline-block;
	width: 170px;

}
.tablec {
	float: left;
	width: 170px;
	display: inline-block;
}
.tablec a {
    display: block;
    width: 170px;
}
.tablec a:hover {
	color:  #008B8B;
	text-decoration: none;
}
